@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #1b1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0.9375rem; /* 15/16 */
}

@media (any-hover: hover) {
  html {
    color: #fff;
  }
}

.header {
  position: fixed;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 50;
  background-color: #fff;
}
.header__container {
  padding-block: 1.25rem;
  display: grid;
  gap: clamp(0.625rem, -2.0361rem + 5.4726vw, 2rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr auto auto;
}
.head__logo {
  position: relative;
  z-index: 5;
  inline-size: 13.75rem;
}
@media (max-width: 48.5em) {
  .head__logo {
    inline-size: 11.25rem;
  }
}
@media (max-width: 45em) {
  .head__logo {
    inline-size: 12.5rem;
  }
}

@media (max-width: 45em) {
  .menu {
    position: fixed;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: -100%;
    inset-block-start: 0;
    z-index: 2;
    overflow: auto;
    -webkit-transition: inset-inline-start 0.5s;
    transition: inset-inline-start 0.5s;
    background-color: #fff;
  }
  .menu-open .menu {
    inset-inline-start: 0%;
  }
  .menu::before {
    content: "";
    block-size: 4.0625rem;
    inline-size: 100%;
    position: fixed;
    inset-inline-start: -100%;
    inset-block-start: 0;
    -webkit-transition: inset-inline-start 0.5s;
    transition: inset-inline-start 0.5s;
    background-color: #fff;
  }
  .menu-open .menu::before {
    inset-inline-start: 0%;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1rem, -0.5652rem + 3.4783vw, 2rem);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 1.0625rem;
}
@media (max-width: 45em) {
  .menu__list {
    font-size: clamp(1rem, 0.6022rem + 1.995vw, 1.5rem);
    -webkit-margin-before: 6.25rem;
            margin-block-start: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.1875rem;
    padding-inline: 1.25rem;
  }
}
.menu__link {
  font-weight: 400;
}
.menu__link:not(:last-child) {
  color: #1b1a1a;
  line-height: 1.6;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #1b1a1a;
    background-color: #fff;
  }
}
.menu__link--button {
  background-color: #1b1a1a;
  color: #fff;
  border-radius: 0.875rem;
  padding: 0.6875rem 1.25rem;
}

.actions-header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
@media (max-width: 22.5625em) {
  .actions-header {
    gap: 0.625rem;
  }
}
.actions-header__item {
  font-size: 1.5rem;
  color: #1b1a1a;
}
@media (min-width: 101.875em) {
  .actions-header__item {
    font-size: 1.6875rem;
  }
}
@media (min-width: 101.875em) {
  .actions-header {
    gap: 2.3125rem;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 45em) {
  .icon-menu {
    display: block;
    inline-size: 1.875rem;
    block-size: 1.125rem;
    position: relative;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    position: absolute;
    block-size: 0.125rem;
    inline-size: 100%;
    inset-inline-end: 0;
    background-color: #1b1a1a;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .icon-menu::before {
    inset-block-start: 0;
  }
  .menu-open .icon-menu::before {
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .icon-menu::after {
    inset-block-end: 0;
    inline-size: 100%;
  }
  .menu-open .icon-menu::after {
    inset-block-end: 50%;
    inline-size: 100%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
  .icon-menu span {
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-open .icon-menu span {
    inline-size: 0;
  }
}

@media (min-width: 47.9375em) {
  .main__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  -webkit-margin-before: 5.625rem;
          margin-block-start: 5.625rem;
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 47.9375em) {
  .hero__body {
    width: 50%;
  }
}
@media (min-width: 47.9375em) {
  .hero__image {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    padding: 0 0 50% 0;
  }
}
.hero__image img {
  max-width: 100%;
}
@media (min-width: 47.9375em) {
  .hero__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}