@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #1b1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0.9375rem; /* 15/16 */
}
[class*=__container]:not(.header__container) {
  max-width: 83.4375rem;
}

@media (any-hover: hover) {
  html {
    color: #fff;
  }
}

.header {
  position: fixed;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 50;
  background-color: #fff;
}
.header__container {
  padding-block: 1.25rem;
  display: grid;
  gap: clamp(0.625rem, -2.0361rem + 5.4726vw, 2rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr auto auto;
}
.head__logo {
  position: relative;
  z-index: 5;
  inline-size: 13.75rem;
}
@media (max-width: 48.5em) {
  .head__logo {
    inline-size: 11.25rem;
  }
}
@media (max-width: 45em) {
  .head__logo {
    inline-size: 12.5rem;
  }
}

@media (max-width: 45.125em) {
  .menu {
    position: fixed;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: -100%;
    inset-block-start: 0;
    z-index: 2;
    overflow: auto;
    -webkit-transition: inset-inline-start 0.5s;
    transition: inset-inline-start 0.5s;
    background-color: #fff;
  }
  .menu-open .menu {
    inset-inline-start: 0%;
  }
  .menu::before {
    content: "";
    block-size: 4.0625rem;
    inline-size: 100%;
    position: fixed;
    inset-inline-start: -100%;
    inset-block-start: 0;
    -webkit-transition: inset-inline-start 0.5s;
    transition: inset-inline-start 0.5s;
    background-color: #fff;
  }
  .menu-open .menu::before {
    inset-inline-start: 0%;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.5rem, -1rem + 3.3333vw, 2rem);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 1.0625rem;
}
@media (max-width: 45.125em) {
  .menu__list {
    font-size: clamp(1rem, 0.6022rem + 1.995vw, 1.5rem);
    -webkit-margin-before: 6.25rem;
            margin-block-start: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.1875rem;
    padding-inline: 1.25rem;
  }
}
.menu__link {
  font-weight: 400;
  text-underline-offset: 0px;
  -webkit-text-decoration: underline 2px rgba(255, 255, 255, 0);
          text-decoration: underline 2px rgba(255, 255, 255, 0);
  -webkit-transition: color 0.3s ease, text-underline-offset 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s ease, text-underline-offset 0.3s, -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s, color 0.3s ease, text-underline-offset 0.3s;
  transition: text-decoration 0.3s, color 0.3s ease, text-underline-offset 0.3s, -webkit-text-decoration 0.3s;
}
.menu__link:hover {
  -webkit-text-decoration: underline 2px #1b1a1a;
          text-decoration: underline 2px #1b1a1a;
  text-underline-offset: 0.375rem;
}
.menu__button {
  background-color: #1b1a1a;
  color: #fff;
  border-radius: 0.875rem;
  padding: 0.6875rem 1.25rem;
  -webkit-transition: color 0.3s ease, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s ease, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s ease, background-color 0.3s, box-shadow 0.3s;
  transition: color 0.3s ease, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.menu__button:hover {
  -webkit-box-shadow: 12px 8px 11px 0px rgba(0, 0, 0, 0.56);
          box-shadow: 12px 8px 11px 0px rgba(0, 0, 0, 0.56);
}

.actions-header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
@media (max-width: 22.5625em) {
  .actions-header {
    gap: 0.625rem;
  }
}
.actions-header__item {
  font-size: 1.5rem;
  color: #1b1a1a;
}
@media (min-width: 101.875em) {
  .actions-header__item {
    font-size: 1.6875rem;
  }
}
@media (min-width: 101.875em) {
  .actions-header {
    gap: 2.3125rem;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 45.125em) {
  .icon-menu {
    display: block;
    inline-size: 1.875rem;
    block-size: 1.125rem;
    position: relative;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    position: absolute;
    block-size: 0.125rem;
    inline-size: 100%;
    inset-inline-end: 0;
    background-color: #1b1a1a;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .icon-menu::before {
    inset-block-start: 0;
  }
  .menu-open .icon-menu::before {
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .icon-menu::after {
    inset-block-end: 0;
    inline-size: 100%;
  }
  .menu-open .icon-menu::after {
    inset-block-end: 50%;
    inline-size: 100%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
  .icon-menu span {
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-open .icon-menu span {
    inline-size: 0;
  }
}

@media (min-width: 45em) {
  .main__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem;
}
@media (min-width: 45.1875em) {
  .hero {
    -webkit-margin-before: 5.625rem;
            margin-block-start: 5.625rem;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ECE7E4;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 45em) {
  .hero__body {
    width: 50%;
    padding-inline: 1.5625rem 6.9375rem;
  }
}
.hero__subtitle {
  line-height: 1.42857;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #645C55;
  -webkit-padding-after: 0.625rem;
          padding-block-end: 0.625rem;
}
@media (max-width: 45.125em) {
  .hero__subtitle {
    display: none;
  }
}
.hero__title {
  line-height: 1.1;
  font-size: 4rem;
  padding-block: 0.625rem 0.5625rem;
}
@media (max-width: 64.3125em) {
  .hero__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 31.25em) {
  .hero__title {
    font-size: 2.1875rem;
  }
}
.hero__text {
  color: #403E3B;
  line-height: 1.5;
  -webkit-padding-before: 0.5625rem;
          padding-block-start: 0.5625rem;
  -webkit-margin-after: 2.5rem;
          margin-block-end: 2.5rem;
}
.hero__link {
  line-height: 1.5;
  letter-spacing: 0.025rem;
  text-underline-offset: 0px;
  -webkit-text-decoration: underline 2px rgba(255, 255, 255, 0);
          text-decoration: underline 2px rgba(255, 255, 255, 0);
  -webkit-transition: color 0.3s ease, text-underline-offset 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s ease, text-underline-offset 0.3s, -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s, color 0.3s ease, text-underline-offset 0.3s;
  transition: text-decoration 0.3s, color 0.3s ease, text-underline-offset 0.3s, -webkit-text-decoration 0.3s;
}
.hero__link:hover {
  -webkit-text-decoration: underline 2px #504242;
          text-decoration: underline 2px #504242;
  text-underline-offset: 0.375rem;
}
@media (min-width: 45em) {
  .hero__image {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    padding: 0 0 50% 0;
  }
}
.hero__image img {
  max-width: 100%;
}
@media (min-width: 45em) {
  .hero__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 65.3125em) {
  .about__body {
    padding-block: 6.25rem;
    padding-inline: 17.25rem 16.3125rem;
  }
}
@media (max-width: 65.3125em) {
  .about__body {
    padding-block: 3.125rem;
    padding-inline: 0.9375rem 0.9375rem;
  }
}
.about__title {
  color: #403E3B;
  font-size: 2rem;
  line-height: 1.1875;
}
.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}
@media (min-width: 65.3125em) {
  .about__text {
    -webkit-padding-end: 0.5rem;
            padding-inline-end: 0.5rem;
    max-width: 30.8125rem;
  }
}
.about__paragraph {
  color: #403E3B;
  line-height: 1.5;
}
.about__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__image {
  aspect-ratio: 1/1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-radius: 4rem;
  border: 0.1875rem solid #CEC4BC;
}
.about__title {
  font-size: 1.0625rem;
  line-height: 1.52941;
}
.about__job {
  color: #645C55;
  font-size: 0.875rem;
  line-height: 1;
}