@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

body {
    background-color: #28293E;
    color: #fff;
    font-family: "Epilogue", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1200px;
    /* 1270/16 */
    margin: 0 auto;
    padding: 15px;
    /* 15/16 */
}


.header__container {
    background-color: #EB9486;
    color: #28293E;
    font-size: 24px;

    line-height: 1.2;
    border-radius: 20px;
    margin-block-start: 15px;
    margin-block-end: 92px;
}

.title {
    text-align: center;
}

.title__main {
    font-weight: 700;
    padding-block-end: 24px;
}




.subtitle__title {
    font-weight: 400;

}

.subtitle-title__link {
    text-underline-offset: 0px;
    text-decoration: underline 2px rgba(255, 255, 255, 0);
    text-underline-offset: 0;
    transition: text-decoration-color 0.3s, color 0.3s, text-underline-offset 0.3s;
    margin-inline-start: -25px;
}




.subtitle-title__link::before {
    content: url("../img/arrow-right.svg");
    margin-inline-end: 20px;
    width: 20px;
    height: 20px;
    text-underline-offset: 0px;
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
    animation: move 0.5s infinite alternate;

}

@keyframes move{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(10px);
    }
}

.subtitle-title__link:hover {
    color: #000000;
    text-decoration-color: #000000;
    text-underline-offset: 6px;
}

.subtitle-title__link:hover::before {
    transform: translateX(5px);
    opacity: 0.8;
}





/* flex */

.head__block{
    margin-block-end: 36px;
}

.head__subtitle{
    color: #EF6D58;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: 2;
        /* 200% */
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-block-end: 20px;
}

.head__title{
    color:  #FFF;
        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.14;
        /* 114.286% */
        letter-spacing: -1px;
        
}

.head__list{
    margin-block-end: 68px;
}

.list{
    max-width: 574px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 20px;
        
}

.list__item{
    color: rgba(255, 255, 255, 0.64);
}


.list__item-link{
        line-height: 2;
        transition: color 0.3s;
}
.list__item--shine {
    color: #FFF;
}


.list__item-link>sup{
    display: inline-block;
    transform: translateY(-25%);
    font-size: 14px;
    
}

.list__item:hover{
    color: #ffffff;
}


/* cards */

.portfolio-head__cards{
    display: flex;
        flex-wrap: wrap;
        gap: 32px 30px;

}

.portfolio-head__cards:not(:last-child){
    margin-block-end: 64px;
}


.portfolio-head__card{
    position: relative;
    min-height: 416px;
    flex-basis: 470px;
    padding: 51px 48px;
    display: flex;
    align-items: flex-end;
    border-radius: 6px;
    overflow: hidden;
    background-color: grey;
}


.portfolio-head__card:nth-child(4n+2), .portfolio-head__card:nth-child(4n+3){
flex-basis: 670px;
}

.portfolio-head__card img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    will-change: transform;
}


.portfolio-head__card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: scaleY(1);
    width: 100%;
    height: 100%;
    opacity: 0.3181;
    transition: transform 0.5s;
    transform-origin: top;
    background-color: #5c2000;
}

.portfolio-head__card:hover::before{
    transform: scaleY(0);
    transform-origin: bottom;
}

.portfolio-head__card:hover img{
    transform: scale(1.1);
}

/* card content */

.portfolio-head__content{
    position: relative;
    z-index: 1;
}

.portfolio-head__name {
    width: fit-content;
    padding: 5px 15px 1px;
    margin-block-end: 23px;
    border-radius: 19px;
    line-height: 2;
    color: #391400;
    background-color: #fff;
    transition: background-color 0.5s, color 0.3s;
}

.portfolio-head__name:hover{
    background-color: #000000;
    color: #FFF;
}



.portfolio-head__subtitle{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
}




/* кнопка */
.portfolio-head__button {
    position: relative;
    width: fit-content;
    display: block;
    padding: 18px 30px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
    overflow: hidden;
}



.portfolio-head__button span {
    position: relative;
    z-index: 2;
}

.portfolio-head__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35%;
    width: 30%;
    height: 200%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.6));
    transform: skew(-30deg) translate(-100%, -25%);
    will-change: left;
}

.portfolio-head__button:hover::before {
    left: 150%;
    transition: left 1s;
}

.portfolio-head__button {
    margin: 0 auto;
}

@media (min-width: 900.98px) and (max-width: 1199.98px) {
    .portfolio-head__cards {
        justify-content: center;
    }

    .portfolio-head__card {
        max-height: 308px;
        max-width: 350px;

    }


}

@media (max-width: 900.98px) {
    /* .portfolio-head__cards{
        flex-direction: column;
    }
    .portfolio-head__card{
        width: 100%;
        aspect-ratio: auto;
    }
        .portfolio-head__card:nth-child(4n+2),
        .portfolio-head__card:nth-child(4n+3){
            flex-basis: 470px;
        } */

    .portfolio-head__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio-head__card {
        aspect-ratio: 1 / 1;
        width: 100%;

    }

    .portfolio-head__card:nth-child(4n+2),
    .portfolio-head__card:nth-child(4n+3) {
        flex-basis: 470px;
    }
}

@media(min-width: 1100.98px) {
    .main__body {
        padding: 92px 0px 176px 0px;
    }
}

@media (max-width:658.98px) {
    .head__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}


@media (max-width: 1170px) {

    .contact__icon {
        margin-block-start: -75px;
    }

    .contact__item {
        flex-grow: 0;
        flex-shrink: 1;
    }

    .main__contact {
        padding-inline: 40px;
    }

    .contact__items {

        justify-content: center;
        gap: 75px;

    }

    .contact__woman {
        transform: scale(0.9);
    }
}

@media (max-width: 850px) {
    .contact__items {
        gap: 80px;
    }

    .contact__icon {
        margin-block-start: -75px;
    }

    .contact__block {

        margin-inline-start: -30px;
    }

    .contact__block img {

        aspect-ratio: 396 /239;
    }
}

@media (max-width: 444px) {
    .header-block__title {
        font-size: 50px;
    }
}

@media (max-width: 799px) {
    .conferences__item {
        flex-grow: 1;
        flex-basis: 370px;
        overflow: hidden;
    }
}

@media(max-width:1199.98px) {
    .team__items {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .team__item {
        display: inline-block;
        flex: 0 0 auto;
        min-width: 270px;
    }
}

@media (max-width: 491px) {
    .arrows__arrow {
        display: none;
    }
}


@media (max-width: 1199.98px) {

    .founder__pict {
        padding-inline: 70px;
        width: 100vw;
        height: auto;

    }

    .founder__body {
        padding-inline: 50px;
    }
}