@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

body {
	background-color: #fff;
	color: #091133;
	font-family: "Roboto", sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1140px;
	/* 1270/16 */
	margin: 0 auto;
	/* 15/16 */
}

[class*="__container"]:not(header) {
	padding: 12px 15px 15px 15px;
}


header {
	position: relative;
	z-index: 4;
}


.header__container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	column-gap: 80px;
	margin-block-end: 253px;
}

.header__menu {
	flex-basis: 245px;
}


.actions-header {
	display: grid;
	align-self: center;
}


.menu__list {
	display: grid;
	grid-template-columns: repeat(3, 49px);
	column-gap: 60px;
}

.menu__link {
	color: #505F98;
	font-size: 14px;
	line-height: 1.71429;
	/* 171.429% */
	text-underline-offset: 0px;
	text-decoration: underline 2px rgba(255, 255, 255, 0);
	transition: text-decoration 0.3s, color 0.3s, text-underline-offset 0.3s;
}

.header__title {
	color: #37447E;
	font-size: 26px;
	font-weight: 900;
	line-height: 1.46154;
	/* 146.154% */
}

.actions-header {
	flex-basis: 245px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 15px;
	position: relative;
	z-index: 5;

}


.actions-header__button {
	background-color: #091133;
	flex-basis: 160px;
	color: #fff;
	text-align: center;
	padding-block: 4px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
	transition: color 0.3s, background-color 0.3s, outline 0.1s;
}

.actions-header__button:hover {
	background-color: #09113300;
	color: #091133;
	outline: 2px solid #091133;
}


.menu__link:hover {
	color: #091133;
	text-decoration: underline 2px #091133;
	text-underline-offset: 6px;
}



/* first-menu */



.first__body {
	width: 50%;
	position: relative;
	z-index: 2;
}

.first__content {
	flex: 0 0 100%;
}

.fisrt__text {
	padding-block-end: 70px;
}

.title {
	color: #091133;
	font-size: 50px;
	font-weight: 500;
	line-height: 1.32;
	/* 132% */
	letter-spacing: 1px;
}

.paragraph {
	color: #505F98;
	font-size: 18px;
	line-height: 1.66667;
	/* 166.667% */
	margin-block-end: 70px;
}

.paragraph>*:first-child {
	padding-block-end: 25px;
}


.first__buttons {
	display: flex;
	flex: 0 1 20px;
	gap: 30px;
	justify-items: start;
}

.first__button {
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.625;
	padding: 5px 40px;
	min-width: 190px;
	border-radius: 2px;
	background-color: #111B47;
	transition: color 0.3s, background-color 0.3s, outline 0.1s;
}

.first__button:hover {
	background-color: #09113300;
	color: #091133;
	outline: 2px solid #091133;
}



.first__img img {
	max-width: 100%;
	aspect-ratio: 1490 / 1161;
	max-width: 1490px;
}


@media (min-width: 767px) {
	.main__first {
		display: flex;
		column-gap: 92px;
	}

	.first__img {
		flex: 0 0 50%;
		transform: translate(-90%);
		position: relative;
		z-index: 1;
		top: -350px;
	}
}



/* second */

.second__container {
	display: flex;
	flex: 1 1 200px;
	gap: 30px;
	margin-block-end: 230px;
	
}

.second__body {
	margin-block-start: 60px;
	width: 50%;
	position: relative;
	z-index: 2;
}

.second__title {
	margin-block-end: 16px;
	color: #091133;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.33333;
	/* 133.333% */
}

.second__paragraph {
	color: #6F7CB2;
	line-height: 1.625;
	/* 162.5% */
	margin-block-end: 60px;
}

.second__paragraph>*:first-child {
	margin-block-end: 25px;
}

.second__sections {
	display: flex;
	gap: 30px;
	flex: 0 1 20%;
}

.section__img {
	flex-basis: 36 / 36;
	margin-block-end: 14px;
}

.section__subtitle {
	color: #091133;
	font-weight: 500;
	line-height: 1.625;
	/* 162.5% */
	margin-block-end: 6px;
}

.section__paragraph {
	color: #5D6970;
	font-size: 12px;
	line-height: 1.5
		/* 150% */
}

.second__img img{
	width: 100%;
		height: 100%;
		aspect-ratio: 1;
}



/* rep-first */

.flower {
	margin-block-end: 223px;
}

.flower__content {
	gap: 155px;
}


.content-rep {
	display: flex;

	flex: 0 1 20%;
}

.body-rep:not(.last__body) {
	margin-block-start: 50px;
}


.title-rep {
	color: #091133;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.33333;
	/* 133.333% */
	margin-block-end: 16px;
}

.paragraph-rep {
	color: #6F7CB2;
	line-height: 1.625;
	/* 162.5% */
}

.paragraph-rep>*:first-child {
	margin-block-end: 25px;
}

.flower__img {
	margin-inline-start: 27px;
}

.flower__img img{
	width: 100%;
		height: 100%;
		aspect-ratio: 480 / 315;
}

.phone__img img{
	width: 100%;
		height: 100%;
		aspect-ratio: 540 / 387;
}

.last__img img{
	width: 100%;
		height: 100%;
		aspect-ratio: 445 / 312;
}



.phone {
	margin-block-end: 232px;
}

.phone__content {
	gap: 125px;
}


.last {
	margin-block-end: 250px;
}

.last__content {
	gap: 172px;
}

.last__img {
	margin-inline-start: 45px;
}

.last__paragraph {
	margin-block-end: 40px;
}


.last__link {
	border-radius: 2px;
	background: #111B47;
	max-width: 150px;
	max-height: 32px;
	min-width: 150px;
	color: #fff;
	text-align: center;
	padding-block: 4px;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.71429;
	/* 171.429% */
	transition: color 0.1s, background-color 0.3s, outline 0.1s;
}

.last__link:hover {
	background-color: #09113300;
	color: #111B47;
	outline: 2px solid #091133;
}


.price {
	padding-block-start: 80px;
	margin-block-end: 172px;
}

.price__container {
	position: relative;
	max-width: 600px;
	margin-inline: auto;
}

.price__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.price__content::before {
	content: "";
	background: url('../img/practice/ellipse.png') center 100% / contain no-repeat;
	aspect-ratio: 2547/938;
	width: 2547px;
	z-index: -1;
	position: absolute;
	top: -160px;
}

.price__title {
	text-align: center;
	color: #091133;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.33333;
	/* 133.333% */
	padding-block-end: 16px;
}

.price__paragraph {
	text-align: center;
	color: #6F7CB2;
	line-height: 1.625;
	/* 162.5% */
	padding-block-end: 36px;
}

.price__number {
	text-align: center;
	color: #222F65;
	font-size: 50px;
	font-weight: 500;
	line-height: 1.32;
	/* 132% */
	letter-spacing: 1px;
}


.price__subtitle {
	text-align: center;
	color: #37447E;
	line-height: 1.625;
	/* 162.5% */
	padding-block-end: 60px;
}

.price__text {
	text-align: center;
	color: #5D6970;
	font-size: 14px;
	line-height: 1.71429;
	padding-block-end: 9px;
	/* 171.429% */
}

.price__button {
	text-align: center;

}

.price__link {
	border-radius: 2px;
	background: #111B47;
	min-width: 150px;
	max-height: 32px;
	color: #fff;
	text-align: center;
	padding-block: 4px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.71429;
	/* 171.429% */
	transition: color 0.1s, background-color 0.3s, outline 0.1s;
}

.price__link:hover {
	background-color: #09113300;
	color: #111B47;
	outline: 2px solid #091133;
}



footer {
	background-color: #E7ECFF;
}


.footer__label {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	column-gap: 80px;
	margin-block-end: 47px;
}

.label__button {
	display: grid;
	justify-items: end;
}

.label__company {
	color: #939EA4;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.71429;
	/* 171.429% */
}

.label__title {
	color: #37447E;
	font-size: 26px;
	font-weight: 900;
	line-height: 1.46154;
	/* 146.154% */
}

.label__button>a {
	border-radius: 2px;
	background: #111B47;
	max-height: 26px;
	min-width: 109px;
	color: #fff;
	text-align: center;
	padding-block: 4px;
	font-weight: 500;
	font-size: 12px;
	font-style: normal;
	line-height: 1.5;
	/* 150% */
	transition: color 0.1s, background-color 0.3s, outline 0.1s;
}

.label__button>a:hover {
	background-color: #09113300;
	color: #111B47;
	outline: 2px solid #091133;
}


.footer__line {
	display: grid;
	grid-template-columns: 1fr;
	margin-block-end: 20px;
}


.footer__line>span {
	min-height: 1px;
	background: #CDD1D4;
}

.footer__end {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-around;
	gap: 20px;
	margin-block-end: 32px;
}

.end__buttons {
	display: grid;
	grid-template-columns: repeat(3, 38px);
	column-gap: 60px;
}

.footer__end>.massangers {
	justify-content: end;
}


.massangers {
	display: grid;
	grid-template-columns: repeat(5, 16px);
	column-gap: 30px;
}

.end__button {
	color: #929ECC;
	font-size: 14px;
	line-height: 1.71429;
	/* 171.429% */
	text-underline-offset: 0px;
	text-decoration: underline 2px rgba(255, 255, 255, 0);
	transition: text-decoration 0.3s, text-underline-offset 0.3s;
}

.end__button:hover {

	text-decoration: underline 2px #929ECC;
	text-underline-offset: 6px;
}


@media(max-width: 992px) {


	.header__title {
		z-index: 3;
	}

	.icon-menu {
		flex-shrink: 0;
		flex-basis: 30px;
		display: flex;
		flex-direction: column;
	}

	.icon-menu span {
		margin-block: 6px;
	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		transition: all 0.3s;
		content: "";
		height: 2px;
		width: 100%;
		background-color: #091133;
	}

	.menu__body {
		display: flex;
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		justify-content: end;
		transition: inset-inline-start 0.3s;

		overflow: auto;

		padding: 100px 15px 30px;

		background-color: #fff;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		block-size: 80px;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #fff;
		transition: inset-inline-start 0.3s;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
		border: none;
		background-color: transparent;
		row-gap: 25px;
	}

	.menu__link {
		font-size: 24px;
		padding: 0;
	}

	.menu__link.active {
		text-decoration: underline;
		background-color: transparent;
	}

	.open-menu .menu__body,
	.open-menu .menu__body::before {
		inset-inline-start: 0;
	}

	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}

	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}

	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}

}

@media (min-width: 320px) and (max-width: 992px) {
	.actions-header__button {
		min-width: 160px;
	}
}

@media (max-width: 990px) {
	.menu {
		order: 3;
	}

	.header__title {
		order: 1;
	}

	.actions-header {
		order: 3;
	}
}

@media (max-width: 460px) {
	.actions-header__button {
		display: none;
	}
	.first__buttons{
		flex-wrap: wrap;
	}
}



@media(max-width: 1670px) {

	.first__container {
		margin-block-end: 50px;
	}

	.first__body {
		width: 100%;
	}

	.main__first {
		display: flex;

	}

	.first__img {
		display: none;
	}
}

@media (max-width: 570px) {
	.first__title {
		font-size: 36px;
	}
}

@media (max-width: 1000px) {
	.second__container, .content-rep{
		flex-wrap: wrap;
		justify-content: center;
	}

	.second__body {
		width: 100%;
	}

	.section {
		flex: 1 1 50%;
		width: 50%;
		
	}


}


@media (max-width: 480px){
	.footer__label{
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		column-gap: 20px;
		row-gap: 20px;
	}

}

@media(max-width: 550px){
	.footer__end{
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
	}
}