@import "reset.css";

body {
    background-color: #28293E;
    color: #fff;
    
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1342px;
    /* 1270/16 */
    margin: 0 auto;
    padding: 15px;
    /* 15/16 */
}


.header__container {
    background-color: #EB9486;
    color: #28293E;
    font-size: 24px;
    
    line-height: 1.2;
    border-radius: 20px;
    margin-block-start: 15px;
    margin-block-end: 92px;
}

.title {
    text-align: center;
}



.header__container {
    background-color: #EB9486;
    color: #28293E;
    font-size: 24px;

    line-height: 1.2;
    border-radius: 20px;
    margin-block-start: 15px;
    margin-block-end: 92px;
}

.title {
    text-align: center;
}

.title__main {
    font-weight: 700;
    padding-block-end: 24px;
}




.title__link {
    font-weight: 400;

}

.title__link {
    text-underline-offset: 0px;
    text-decoration: underline 2px rgba(255, 255, 255, 0);
    text-underline-offset: 0;
    transition: text-decoration-color 0.3s, color 0.3s, text-underline-offset 0.3s;
    margin-inline-start: -25px;
}






.main__masson{
    display: grid;
        column-gap: 32px;
        row-gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding-block: 20px;
        justify-content: center;
}





.masson__link {
width: 100%;
    height: 100%;
    position: relative;
    padding: 43px 28px;
    display: grid;
    align-items: end;
}

.masson__link img{
    object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
}



.masson__span{
    position: relative;
        z-index: 2;
        color: #FFF;
        font-size: 35px;
        letter-spacing: 1.5px;
        line-height: 120%;
}

.masson__link:nth-child(17n+1),
.masson__link:nth-child(17n+4),
.masson__link:nth-child(17n+8),
.masson__link:nth-child(17n+10),
.masson__link:nth-child(17n+16){
    aspect-ratio: 304 / 184;
    
    }


.masson__link:nth-child(17n+2),
.masson__link:nth-child(17n+6),
.masson__link:nth-child(17n+7),
.masson__link:nth-child(17n+12),
.masson__link:nth-child(17n+15){
    aspect-ratio: 304 / 296;
    

}


.masson__link:nth-child(17n+3) ,
.masson__link:nth-child(17n+5),
.masson__link:nth-child(17n+9),
.masson__link:nth-child(17n+11),
.masson__link:nth-child(17n+14) ,
.masson__link:nth-child(17n+17) {
    aspect-ratio: 304/152;
}


.masson__link:nth-child(17n+13) {
    aspect-ratio: 304/504;
    
}
.masson__link:nth-child(17n+13) img{
    object-position: right;
}



.masson__link:nth-child(17n+1),
.masson__link:nth-child(17n+4),
.masson__link:nth-child(17n+8),
.masson__link:nth-child(17n+10),
.masson__link:nth-child(17n+16){
    grid-row: span 2;
}

.masson__link:nth-child(17n+2),
.masson__link:nth-child(17n+5),
.masson__link:nth-child(17n+6),
.masson__link:nth-child(17n+7),
.masson__link:nth-child(17n+14),
.masson__link:nth-child(17n+12),
.masson__link:nth-child(17n+15){
    grid-row: span 3;
}

.masson__link:nth-child(17n+3),
.masson__link:nth-child(17n+9),
.masson__link:nth-child(17n+11),
.masson__link:nth-child(17n+17){
    grid-row: span 1;
}

.masson__link:nth-child(17n+13){
    grid-row: span 5;
}





