@use "sass:math";

@import "_reset.scss";

@import "_fonts.scss";

@import "_mixins.scss";

@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");

$mainBcColor: #fff;
$textColor: #1b1a1a;

body {
    background-color: $mainBcColor;
    font-family: "Poppins", sans-serif;
    color: $textColor;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: toRem(1180);
    margin: 0 auto;
    padding: 0.9375rem; /* 15/16 */
}

html {
    @media (any-hover: hover) {
        color: #fff;
    }
}




.header {
    position: fixed;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 50;

		// .header__container

		&__container {
            padding-block: toRem(33);
        display: grid;
        gap: clamp(0.625rem, -2.0361rem + 5.4726vw, 2rem);
        align-items: center;
        grid-template-columns: 1fr auto auto;
        
		}

		// .header__menu

		&__menu {
		}

		// .header__actions

		&__actions {
		}
}
.header--margin {
}
.head {
    
		// .head__logo

		&__logo {
            position: relative;
        z-index: 5;
        inline-size: toRem(220);
        @media (max-width: toEm(776)){
            inline-size: toRem(180);
        }
        @media (max-width: toEm(720)){
            inline-size: toRem(200); 
        }
        @media (min-width: toEm(400)) and (max-width: toEm(720)){
            inline-size: toRem(180);
        }
        @media (min-width: toEm(319)) and (max-width: toEm(400)){
            inline-size: toRem(124); 
        }
		}
}
.menu {
    @media (max-width: toEm(720)) {
		position: fixed;
		inline-size: 100%;
		block-size: 100%;
		inset-inline-start: -100%;
		inset-block-start: 0;
		z-index: 2;
		overflow: auto;
		transition: inset-inline-start 0.5s;
    
    .menu-open & {
			inset-inline-start: 0%;
		}
        &::before {
			content: "";
			block-size: toRem(65);
			inline-size: 100%;
			position: fixed;
			inset-inline-start: -100%;
			inset-block-start: 0;
			transition: inset-inline-start 0.5s;
			background-color: $mainBcColor;

			.menu-open & {
				inset-inline-start: 0%;
			}
		}
    }
    // .menu__body

		&__body {
		}

		// .menu__list

		&__list {
            display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: clamp(0.3rem, -2.4978rem + 6.0987vw, 2rem);
        justify-items: center;
        align-items: center;
        padding-block: toRem(15);
        @media(max-width: toEm(720)){
            font-size: clamp(1rem, 0.6022rem + 1.9950vw, 1.5rem);
            margin-block-start: toRem(100);
            display: flex;
            flex-direction: column;
			align-items: flex-end;
			row-gap: toRem(40);
            padding-inline: toRem(20);
        }
		}

		// .menu__item

		&__item {
		}

		// .menu__link

		&__link {
            &--active {
			font-weight: 500;
			color: $mainBcColor;
			background-color: $mainBcColor;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $textColor;
				background-color: $mainBcColor;
			}
        }
		}
}
.actions-header {
    z-index: 10;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: toRem(20);
    @media (max-width: toEm(361)) {
        gap: toRem(10);
    }
    &__item {
		font-size: toRem(24);
		color: #1b1a1a;
		@media (min-width: toEm(1630)) {
			font-size: toRem(27);
		}
	}
	@media (min-width: toEm(1630)) {
		gap: toRem(37);
	}
		// .actions-header__link

		&__link {
            
            padding: toRem(11) toRem(20);
            background-color: $textColor;
            color: $mainBcColor;
            border-radius: toRem(14);
            @media (min-width: toEm(320)) and (max-width: toEm(470)) {
                padding: toRem(10) toRem(13);
                font-size: toRem(12);
		}
    }


		// .actions-header__icon

		&__icon {
		}
}
.icon-menu {
    display: none;
    @media (max-width: toEm(720)) {
		display: block;
		inline-size: toRem(30);
		block-size: toRem(18);
		position: relative;
		&::before,
		&::after,
		span {
			content: "";
			position: absolute;
			block-size: toRem(2);
			inline-size: 100%;
			inset-inline-end: 0;
			background-color: $textColor;
			transition: all 0.5s;
		}
		&::before {
			inset-block-start: 0;
			.menu-open & {
				inset-block-start: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}
		}
		&::after {
			inset-block-end: 0;
			inline-size: 100%;
			.menu-open & {
				inset-block-end: 50%;
				inline-size: 100%;
				transform: translateY(50%) rotate(45deg);
			}
		}
		span {
			inset-block-start: 50%;
			transform: translateY(-50%);
			.menu-open & {
				inline-size: 0;
			}
		}
	}


}