@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600&display=swap");

body {
	font-family: 'Work Sans', sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: auto;
}


main {
	flex-grow: 1;
	position: relative;
	z-index: 9;
}



[class*="__container"] {
	max-width: 84.38rem;
	/* 1350/16 */
	margin: 0 auto;
	padding: 0.9375rem;
	/* 15/16 */
}

.header {
	position: sticky;
	background-color: #fff;
	top: 0;
	z-index: 13;
}

.link {
	background-color: #A53DFF;
	border-radius: 0.25rem;
	transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
	padding-inline: 1.5rem;
	padding-block: 0.75rem;
	color: #fff;
	font-weight: 600;
	line-height: 1.5;
}


.header__container {
	background: #fff;
	min-height: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	align-items: center;
	column-gap: 1.25rem;
	padding-block: 1.25rem;
	/* 20/16 */
}



.nav-head__list {
	display: grid;
	min-height: 3rem;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	justify-items: center;
	/* column-gap: 3rem; 48/16 */
}

.nav-head__item {
	color: #333;
	font-weight: 500;
	line-height: 1.5;
	/* 150% */

}

.nav-head__item a {
	text-underline-offset: 0rem;
	/* 0/16 */
	text-decoration: underline 0.125rem rgba(255, 255, 255, 0);
	transition: text-decoration 0.3s, color 0.3s, text-underline-offset 0.3s;
}

.nav-head__item a:hover {
	color: #000000;
	text-decoration: underline 0.125rem #000000;
	text-underline-offset: 0.375rem;
	/* 6/16 */
}

.head__button {
	display: flex;
	gap: 1.25rem;
	/* 20/16 */
	align-content: center;
}

.head__link {
	display: flex;
	flex-basis: 6.9375rem;
	width: 6.9375rem;
	/* 111/16 */
	cursor: pointer;

}

.link:hover {
	background-color: #862FD9;
	box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}


.icon-menu {
	display: none;
}

@media (max-width: 65.625rem) {
	.header__container {
		min-height: 6rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		column-gap: 1.25rem;
	}

	.nav-head__list {
		column-gap: 0.9375rem;
	}
}


@media (max-width: 48.75rem) {
	.header__container {
		padding-inline: 2.5rem;
		/* 40/16 */
		min-height: 5rem;
		display: flex;
		justify-content: space-between;
		flex-shrink: 1;
	}

	.head__img {
		z-index: 13;
	}

	.head__button {
		gap: 20px;
	}

	.icon-menu {
		flex-shrink: 0;
		flex-basis: 1.875rem;
		display: flex;
		flex-direction: column;

	}

	.icon-menu span {
		margin-block: 0.375rem;

	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		transition: all 0.3s;
		content: "";
		height: 0.125rem;
		width: 100%;
		background-color: #333;
	}

	.nav-head {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 10;
		transition: inset-inline-start 0.3s;
		overflow: auto;
		justify-content: end;
		padding: 6.25rem 0.9375rem 1.875rem;
		background-color: #fff;
	}

	.nav-head::before {
		content: "";
		position: fixed;
		block-size: 5rem;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 11;
		background-color: #fff;
		transition: inset-inline-start 0.3s;
	}

	.nav-head__list {
		display: flex;
		align-items: end;
		padding-inline: 1.875rem;
		/* 30/16 */
		flex-direction: column;
		border: none;
		background-color: transparent;
		row-gap: 1.5625rem;
		padding-block-start: 1.8rem;
	}

	.nav-head__link {
		font-size: 1.5rem;
		padding: 0;
	}

	.nav-head__link:active {
		text-decoration: underline;
		background-color: transparent;
	}

	.open-menu {
		overflow: hidden;
	}

	.open-menu .nav-head,
	.open-menu .nav-head::before {
		inset-inline-start: 0;
	}

	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}

	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}

	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}

	.head__button {
		position: relative;
		z-index: 12;
		display: flex;
		align-items: center;
	}

	.head__img img {
		aspect-ratio: 208 / 56;
		width: 100%;
	}
}


/* man-section */

/* first-man section */

.first-color__content::after {
	content: "";
	width: 54.4508rem;
	/* 871.213/16 */
	height: 54.4508rem;
	/* 871.213/16 */
	transform: rotate(-130.444deg);
	border-radius: 54.4508rem;
	/* 871.213/16 */
	background: rgba(218, 77, 241, 0.40);

	filter: blur(18.75rem);
	/* 300/16 */
	position: absolute;
	z-index: -1;
	top: -700px;
	right: -350px;
}

.first-color {

	padding-block-start: 7.875rem;
	padding-block-end: 6.9375rem;
	/* 111/16 */
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr auto;
	column-gap: 8.5rem;
	/* 136/16 */
	row-gap: 8.875rem;
	align-items: end;
	position: relative;
		z-index: 16;
}

.first-color__text {

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.text-first__paragraph span {
	color: #132238;
	font-size: 1.125rem;
	line-height: 1.33333;
	position: relative;
}

.text-first__paragraph span::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 0.333333em;
	/* 6/18 */
	bottom: 0.111111em;
	/* 2/18 */
	left: 0;
	background: #ffc8c8;
	z-index: -1;

}

.first-color__img {
	display: flex;
	text-align: end;
	align-self: start;

	border-radius: 1.5625rem;
	box-shadow: 0px 1.5rem 7.25rem 0px rgba(43, 56, 76, 0.09);
	overflow: hidden;
	max-width: 33.5rem;
	aspect-ratio: 536 / 636;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;

	grid-column: 2 / 3;
	grid-row: 1 / 3;
	
}

.first-color__img img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	object-fit: contain;
}

.first-color__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 0.1875rem;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.first-color__card {
	background-color: rgba(237, 216, 255, 0.50);
	border-radius: 0.375rem;
	text-align: center;
	padding-block: 1.0625rem;
	padding-inline: 0.375rem;
}

.text-first {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.text-first__title {
	color: #132238;
	font-size: clamp(2.25rem, 3.6vw + 1.53rem, 4.5rem);
	;
	font-weight: 600;
	line-height: 1.16667;
}

.text-first__paragraph {
	color: #556070;
	font-size: 1.125rem;
	line-height: 1.33333;
}

.first-color__card h2 {
	color: #424E60;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.25;
}

.first-color__card span {
	color: #697484;
	line-height: 1.5;
}



/* second-man section */


.second-color {
	position: relative;
	z-index: 15;
	padding-block-start: 6.9375rem;
	/* 111/16 */

}


.second-color__content {
	background-color: #fff;
	position: relative;
	z-index: 12;
	display: grid;
	grid-template-columns: 26.5rem 1fr;
	/* 424/16 */
	column-gap: 8.5rem;
	/* 136/16 */
	padding: clamp(4rem, -0.3636rem + 8.7273vw, 7rem);
	/* 112/16 */
	border-radius: 1rem;
	/* 16/16 */
	box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.10);
	/* 728/16 */
}


.second-color::after {
	content: "";
	width: 65.2698rem;
	/* 1044.316/16 */
	height: 65.2698rem;
	/* 1044.316/16 */
	transform: rotate(-130.444deg);
	border-radius: 65.2698rem;
	/* 1044.316/16 */
	background: rgba(196, 245, 233, 0.70);

	filter: blur(18.75rem);
	/* 300/16 */
	position: absolute;
	z-index: -1;
	top: -700px;
	right: -600px;
}

.second-color::before {
	content: "";
	width: 33.8125rem;
	/* 541/16 */
	height: 14.125rem;
	/* 226/16 */
	transform: rotate(-30deg);
	border-radius: 33.8125rem; /* 541/16 */
	background: linear-gradient(182deg, #FFDFA8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.80) 216.94%);
	filter: blur(6.25rem);
		/* 100/16 */
		position: absolute;
	z-index: -1;
	left: -360px;
	top: 550px;
}




.second-color__image {
	justify-items: center;
}

/* вторая часть изображение */

.second-color__img {
	max-width: 26.625rem;
	/* 426/16 */
	aspect-ratio: 424 / 468;
	border: 1px solid #F0F1F3;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 0.625rem;
	/* 10/16 */
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	position: relative;
}

.second-color__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* блок с ссылками для второго блока */

.second-color__cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	padding: 0.75rem;
	/* 12/16 */
	box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
	background-color: #fff;
	border-radius: 0.25rem;
	/* 4/16 */
	max-width: 16.5rem;
	/* 264/16 */
	position: relative;
	z-index: 3;
	top: -2.5rem;
	/* 40/16 */
}

.second-color__card {
	border-radius: 0.25rem;
	/* 4/16 */
	padding: 0.9375rem;
	/* 15/16 */
	max-height: 3rem;
	transition: fill 0.3s, background-color 0.3s;
}


.second-color__card:hover {
	background-color: #A53DFF;
}

.second-color__card:hover svg path {

	fill: #fff;
}




/* текстовая часть второго блока */

.second-color__text {
	padding-block-start: 4.875rem;
	/* 78/16 */
	display: flex;
	flex-direction: column;
	gap: 2rem;
	/* 32/16 */
}

.second-color__text h3 {
	color: #132238;
	font-size: clamp(1.5rem, 0.4698rem + 2.2581vw, 2.375rem);
	/* 38/16 */
	font-weight: 600;
	line-height: 1.31579;
	/* 131.579% */

}

.second-color__text p {
	color: #556070;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
}

.second-color__text p:first-child {
	padding-block-end: 1rem;
}

/* кнопки второго блока */

.second-color__buttons {
	display: flex;
	min-height: 3rem;
	/* 48/16 */
	gap: 1rem;
}

.second-color__button {
	border-radius: 0.25rem;
	/* 4/16 */
	color: #A53DFF;
	font-weight: 600;
	border: 1px solid #A53DFF;
	padding-block: 0.75rem;
	/* 12/16 */
	padding-inline: 1.5rem;
	/* 24/16 */
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	justify-content: center;
	transition: box-shadow 0.3s;
}

.second-color__button::before {
	content: "";
	background: url("../img/download.svg") center center / contain no-repeat;
	width: 1.5rem;
	aspect-ratio: 1;

}

.second-color__button:hover,
.card-process:hover {
	box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* адаптация первых двух блоков */

/* адаптация первого блока */

@media (max-width: 1280px) {
	.first-color {
		grid-template-columns: 1fr 0.8fr;
		column-gap: 1.25rem;
		/* 20/16 */
		row-gap: 3.125rem;
		/* 50/16 */
	}
}

@media (max-width: 1090px) {
	.first-color {
		align-items: start;
	}
}

@media(min-width:640px) and (max-width: 950px) {
	.first-color__img {
		grid-column: 2;
		grid-row: 1;
	}

	.first-color__cards {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
}

@media (max-width: 640px) {
	.first-color {
		justify-items: center;
		grid-template-columns: 1fr;
	}

	.first-color__text {
		grid-row: 1;
	}

	.first-color__img {
		grid-column: 1;
		grid-row: 2;

	}

	.first-color__cards {
		grid-column: 1;
		grid-row: 3;
	}
}

/* адаптация второго блока */

@media (max-width: 1120px) {
	.second-color__content {
		column-gap: clamp(0.5rem, -2.8814rem + 7.1186vw, 3.125rem);
		/* 50/16 */
	}
}

@media (min-width: 830px) and (max-width: 975px),
(max-width: 500px) {
	.second-color__buttons {
		flex-direction: column;
		display: inline-flex;
	}

	.second-color__link {
		text-align: center;
	}
}

@media (min-width: 900px) {
	.second-color__content {
		max-height: 45.5rem;
		/*728/16 */
	}
}

@media (max-width: 830px) {
	.second-color__content {
		grid-template-columns: 1fr;
	}

	.second-color__image {
		grid-column: 1;
		grid-row: 1;
	}

	.second-color__text {
		padding-block-start: 0rem;
		grid-column: 1;
		grid-row: 2;
	}
}

@media (max-width: 434px) {
	.second-color__content {
		padding: 1.25rem;
		/* 20/16 */
	}

	.second-color__cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}


/* часть с серым фоном */

.main__process {
	background-color: #F0F1F3;
	position: relative;
	z-index: 14;
	top: -6.75rem;
	/* 108/16 */
}


.process__content {
	display: grid;
	grid-template-columns: 0.449fr 0.551fr;
	column-gap: 10.8125rem;
	/* 173/16 */
	align-items: center;
	padding-block-start: 15.1875rem;
	/* 243/16 */
	padding-block-end: 7.8125rem;
	/* 125/16 */

}

/* серая текстовая часть */

.process__text h3 {
	color: #132238;
	font-size: 3rem;
	/* 48/16 */
	font-weight: 600;
	line-height: 1.16667;
	padding-block-end: 1.5rem;
	/* 24/16 */
}

.process__paragraph {
	color: #697484;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
}

.process__paragraph p:not(:last-child) {
	padding-block-end: 1rem;
}

/* карточки в серой части */


.process__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.5rem;
	/* 24/16 */

}

.card-process {
	padding: 2rem;
	/* 32/16 */
	background-color: #fff;
	border-radius: 0.75rem;
	/* 12/16 */
	transition: box-shadow 0.3s;
}

.card-process:nth-child(2n+1) {
	margin-block-end: 1.5rem;
}

.card-process:nth-child(2n+2) {
	margin-block-start: 1.5rem;
	/* 24/16 */
}

.card-process svg path {
	transition: fill 0.3s;
}


.card-process:hover svg path {
	fill: #fff;

}

.card-process__icon {
	padding: 1.25rem;
	/* 20/16 */
	margin-block-end: 2rem;
	/* 32/16 */
	display: inline-block;
	transition: background-color 0.3s;
	border-radius: 0.375rem;
	background-color: rgba(237, 216, 255, 0.50);
}


.card-process:hover .card-process__icon {
	background-color: #A53DFF;

}

.card-process__title {
	color: #132238;
	font-size: 1.25rem;
	/* 20/16 */
	font-style: normal;
	font-weight: 600;
	line-height: 1.2;
	/* 120% */
	padding-block-end: 0.75rem;
	/* 12/16 */
}

.card-process__paragraph {
	color: #556070;
	line-height: 1.5;
	/* 150% */
}

/* адаптация для серого блока */

@media (max-width: 1200px) {
	.process__content {
		column-gap: 1.25rem;
		/* 20/16 */
	}
}

@media (max-width: 950px) {
	.process__content {
		grid-template-columns: 1fr;
		row-gap: 3.125rem;
		/* 50/16 */
	}

	.process__text {
		grid-column: 1;
		grid-row: 1;
	}

	.process__cards {
		grid-column: 1;
		grid-row: 2;
	}
}

@media (max-width: 530px) {
	.process__cards {
		grid-template-columns: 1fr;
	}

	.card-process:nth-child(1n+1) {
		margin-block-start: 0rem;

	}

	.card-process:not(:last-child) {
		margin-block-end: 1.5rem;
	}
}



/* блок с карточками */
.articles {
	padding-block-end: 6.25rem;
	/* 100/16 */
}


.articles__head {
	max-width: 36.0625rem;
	/* 577/16 */
	margin: 0 auto;
	padding-block-end: 4.375rem;
	/* 70/16 */
}

.articles__head h3 {
	text-align: center;
	color: #132238;
	font-size: 3rem;
	/* 48/16 */
	font-weight: 600;
	line-height: 1.16667;
	/* 116.667% */
	padding-block-end: 1.5rem;
	/* 24/16 */
}

.articles__head p {
	color: #87909D;
	text-align: center;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
}

.articles__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
	/* 24/16 */
	transition: box-shadow 0.3s;
	padding-block-end: 3.125rem;
	/* 50/16 */
}

.articles__card {
	border-radius: 8px;
	border: 1px solid #E6E8EB;
	background: #FFF;

	transition: box-shadow 0.3s;
}

.articles__card:hover {
	box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
}

.articles__picture {
	aspect-ratio: 424 / 248;
	width: 100%;
	border-radius: 0.5rem 0.5rem 0 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: start;

}

.articles__picture img {
	border-radius: 8px 8px 0px 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.articles__text {
	padding: 2rem;
	/* 32/16 */
}

.articles__text h5 {
	color: #87909D;
	font-size: 0.75rem;
	/* 12/16 */
	font-weight: 500;
	line-height: 1.33333;
	/* 133.333% */
	padding-block-end: 0.25rem;
	/* 4/16 */
}

.articles__text h4 {
	color: #132238;
	font-size: 1.125rem;
	/* 18/16 */
	font-weight: 600;
	line-height: 1.33333;
	/* 133.333% */
	padding-block-end: 0.75rem;
	/* 12/16 */
}

.articles__text p {
	color: #556070;
	font-size: 0.875rem;
	/* 14/16 */
	line-height: 1.42857;
	/* 142.857% */
	padding-block-end: 1.25rem;
	/* 20/16 */
}

.articles__link {
	padding-inline: 1.5rem;
	/* 24/16 */
	padding-block: 0.75rem;
	/* 12/16 */
	color: #A53DFF;
	font-weight: 600;
	line-height: 1.5;
	border: 1px solid #A53DFF;
	border-radius: 0.25rem;
	/* 4/16 */
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	justify-content: center;
	transition: box-shadow 0.3s;
	transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.articles__link::after {
	content: "";
	background: url("../img/arrow-right.svg") center center / contain no-repeat;
	width: 1.5rem;
	aspect-ratio: 1;
}

.articles__link:hover {
	box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.articles__button {
	min-height: 3rem;
	/* 48/16 */
	background-color: #A53DFF;
	padding-inline: 1.5rem;
	/* 24/16 */
	padding-block: 0.75rem;
	/* 12/16 */
	color: #fff;
	font-weight: 600;
	border-radius: 0.25rem;
	/* 4/16 */
	transition: box-shadow 0.3s;
}



.articles__container {
	display: flex;
	align-items: center;
	flex-direction: column;
}


/* адаптиция для блока с карточками */
@media (max-width: 880px) {
	.articles__cards {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 550px) {
	.articles__cards {
		grid-template-columns: 1fr;
	}
}


/* темный блок */

.dark {
	background-color: #132238;

}

.dark::before {
	content: "";
	width: 54.4508rem;
	/* 871.213/16 */
	height: 54.4508rem;
	/* 871.213/16 */
	transform: rotate(-130.444deg);
	border-radius: 54.4508rem;
	/* 871.213/16 */
	background: rgb(221, 0, 255);
	filter: blur(15.625rem);
	position: absolute;
	left: -59.375rem;
	z-index: -1;
}

.dark__content::after {
	content: "";
	width: 65.2698rem;
	/* 1044.316/16 */
	height: 65.2698rem;
	/* 1044.316/16 */
	transform: rotate(-130.444deg);
	border-radius: 65.2698rem;
	/* 1044.316/16 */
	background: rgba(196, 245, 233, 0.70);
	position: absolute;
	filter: blur(18.75rem);
	left: 59.375rem;
	z-index: -1;
}

.dark__content {
	padding-block: 6.25rem;
	/* 100/16 */
	display: flex;
	flex-direction: column;
	gap: 2rem;
	/* 32/16 */
	text-align: center;
	max-width: 38.75rem;
	/* 620/16 */
	margin: 0 auto;
}

.dark__content h3 {
	color: #FFF;
	font-size: clamp(1rem, 0.3786rem + 3.1068vw, 3rem);
	/* 48/16 */
	font-weight: 600;
	line-height: 1.16667;
	/* 116.667% */
}

.dark__content p {
	max-width: 36.3125rem;
	/* 581/16 */
	color: #A5ACB5;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
}


.dark__link {
	color: #FFF;
	font-weight: 600;
	line-height: 1.5;
	/* 150% */
	background-color: #A53DFF;
	border-radius: 0.25rem;
	/* 4/16 */
	padding-inline: 1.5rem;
	/* 24/16 */
	padding-block: 0.75rem;
	/* 12/16 */
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	justify-content: center;
	transition: box-shadow 0.3s;
	transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.dark__link::after {
	content: "";
	background: url("../img/white-arrow.png") center center / contain no-repeat;
	width: 1.5rem;
	aspect-ratio: 1;
}

.dark__link:hover,
.articles__button:hover {
	box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.726);
}


/* блог блок */

.blog__content {
	padding-block: 6.25rem;
	/* 100/16 */
}

.blog__head {
	text-align: center;
	max-width: 36.25rem;
	/* 580/16 */
	margin: 0 auto;
	margin-block-end: 4.375rem;
	/* 70/16 */
}

.blog__head h4 {
	color: #132238;
	font-size: 3rem;
	/* 48/16 */
	font-weight: 600;
	line-height: 1.16667;
	/* 116.667% */
	padding-block-end: 1.5rem;
	/* 24/16 */
}

.blog__head p {
	color: #87909D;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.44444;
	/* 144.444% */
}


.blog__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.5rem;
	/* 24/16 */
	margin-block-end: 1.5rem;
	/* 24/16 */
}

.blog__card {
	border-radius: 8px;
	border: 1px solid #F0F1F3;
	background: #FFF;
	transition: box-shadow 0.5s;
}

.blog__card:hover {
	box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
}

.blog__picture {
	aspect-ratio: 312 / 226;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: start;
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	/* 8/16 */

}

.blog__picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog__text {
	padding: 1.5rem;
	/* 24/16 */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	/* 8/16 */
}

.blog__text h5 {
	color: #87909D;
	font-size: 0.875rem;
	/* 14/16 */
	line-height: 1.42857;
	/* 142.857% */
}

.blog__text p {
	color: #333;
	font-size: 1.125rem;
	/* 18/16 */
	font-weight: 500;
	line-height: 1.333;
	/* 133.333% */
}

.slider {
	justify-items: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.75rem;
	/* 12/16 */
	max-width: 4.375rem;
	/* 70/16 */
	margin: 0 auto;
}

.slider button:first-child {
	min-height: 0.5rem;
	/* 8/16 */
	width: 1.875rem;
	/* 30/16 */
	background-color: #210C33;
	border-radius: 6.25rem;
	/* 100/16 */
}

.slider button {
	min-width: 0.5rem;
	/* 8/16 */
	background-color: #C3C7CE;
	border-radius: 6.25rem;
	/* 100/16 */
}


/* адаптация для блока с блогом */

@media (max-width: 850px) {
	.blog__cards {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 450px) {
	.blog__cards {
		grid-template-columns: 1fr;
	}
}


/* what I do block */

.work {
	background-color: #F0F1F3;
}

.work__content {
	padding-block: 9.375rem;
	/* 150/16 */

	display: grid;
	grid-template-columns: clamp(18rem, 13.4916rem + 23.2692vw, 33.125rem) 1fr;
	/* 530/16 */
	column-gap: clamp(1rem, -1.3661rem + 12.2123vw, 8.938rem);
	/* 143/16 */
}




.work__title {
	color: #333;
	font-size: 3rem;
	/* 48/16 */
	font-weight: 600;
	line-height: 1.16667;
	/* 116.667% */
	margin-block-end: 1.5rem;
	/* 24/16 */
}

.work__paragraph {
	margin-block-end: 3.125rem;
}

.work__paragraph p {
	/* 50/16 */
	color: #87909D;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
}

.work__paragraph p:not(:last-child) {
	padding-block-end: 1rem;
}

.work__cards {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	/* 24/16 */

}

.work__card {
	padding: 2rem;
	/* 32/16 */
	background-color: #fff;
	border-radius: 0.375rem;
	/* 6/16 */
	box-shadow: 0rem 2rem 6rem 0rem transparent;
	transform: translateY(0rem);
	border-left: 0.3125rem solid transparent;
	transition: box-shadow 0.3s, border-left 0.3s, transform 0.3s;
}


@media (any-hover: hover) {
	.work__card:hover {
		border-left: 0.3125rem solid #A53DFF;
		transform: translateY(-0.0625rem);
		box-shadow: 0rem 2rem 6rem 0rem rgba(28, 25, 25, 0.16);
		transition: border-left 0.6s, box-shadow 0.5s, transform 0.5s;
	}
}



.work__card h5 {
	color: #132238;
	font-size: 1.5rem;
	/* 24/16 */
	font-weight: 600;
	line-height: 1;
	/* 24px */
	margin-block-end: 1rem;
	/* 16/16 */
}

.work__card p {
	color: #424E60;
	line-height: 1.5;
	/* 150% */
}


/* what I do block adapt */


@media(min-width:50rem) {
	.work__text {
		padding-block-start: 7.5rem;
		/* 120/16 */
	}
}

/* 1350/16 *
	.work__content {
		grid-template-columns: 1fr;
		row-gap: 1.5rem;
		/* 24/16 */


@media (max-width: 50rem) {
	.work__content {
		grid-template-columns: 1fr;
		row-gap: 1.5rem;
		/* 24/16 */
	}

}

/* 800/16 */


/* блок с логотипами */

.media__content {
	padding-block-start: 6.25rem;
	/* 100/16 */
	padding-block-end: 3.125rem;
	/* 50/16 */
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1.5rem;
	/* 24/16 */

}

.media__head {
	text-align: center;
	max-width: 36.0625rem;
	/* 577/16 */
	margin: 0 auto;
}

.media__title {
	color: #132238;
	font-size: clamp(1rem, 0.4038rem + 3.0769vw, 3rem);
	/* 48/16 */
	font-style: normal;
	font-weight: 600;
	line-height: 1.16667;
	/* 116.667% */
	margin-block-end: 1.5rem;
	/* 24/16 */
}

.media__paragraph {
	color: #87909D;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
}

.media__logotipes {
	display: flex;
	column-gap: 1.5rem;
	/* 24/16 */
	flex-wrap: wrap;
	justify-content: center;
}

.media__logo svg {
	aspect-ratio: 1;
}

.media__logo svg path {
	transition: fill 0.3s;
}

/* ховер для гугл */
.media__logo:hover svg .logo-google__g,
.media__logo:hover svg .logo-google__g-second {
	fill: #4285f4;
}

.media__logo:hover svg .logo-google__o {
	fill: #ea4335;
}

.media__logo:hover svg .logo-google__o-second {
	fill: #fbbc05;
}

.media__logo:hover svg .logo-google__l {
	fill: #34a853;
}

/* ховер для дрибл */

.media__logo--dribble:hover svg path {
	fill: #ea4c89;
}

/* ховер для линкедина */

.media__logo:hover svg .logo-linkedin__bc {
	fill: #006699;
}

.media__logo:hover svg .logo-linkedin__text {
	fill: black;
}

.media__logo:hover svg .logo-linkedin__fill {
	fill: white;
}

/* ховер для амазон */

.media__logo:hover svg .logo-amazon__text {
	fill: black;
}

.media__logo:hover svg .logo-amazon__arrow {
	fill: #ff9900;
}

/* ховер для медиум */

.media__logo--medium:hover svg path {
	fill: #000000;
}

/* ховер для спотифай */

.media__logo:hover svg .logo-spotify__r {
	fill: #1ed760;
}


/* блок с цитатой */


.test__content {
	display: flex;
	flex-direction: column;
	row-gap: 4.375rem;
	/* 70/16 */
	padding-block-start: 3.125rem;
	/* 50/16 */
}

.test__head {
	text-align: center;
}

.test__title {
	color: #333;
	font-size: 3rem;
	/* 48/16 */
	font-weight: 600;
	line-height: 1.16667;
	/* 116.667% */
	margin-block-end: 1.5rem;
	/* 24/16 */
}

.test__head p {
	color: #87909D;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
}


.test__text {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.test__p {
	color: #2B384C;
	font-size: 1.125rem;
	/* 18/16 */
	font-weight: 500;
	line-height: 1.33333;
	/* 133.333% */
	margin-block-end: 1.5rem;
	/* 24/16 */
}

.test__author {
	color: #000;
	font-size: 1.125rem;
	/* 18/16 */
	font-style: normal;
	font-weight: 500;
	line-height: 1.44444;
	/* 144.444% */
	margin-block-end: 0.5rem;
	/* 8/16 */
}

.test__work {
	color: #000;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
	/* 150% */
	margin-block-end: 3.125rem;
	/* 50/16 */
}


/* блок с формой */

.form__container {
	padding-block-start: 4.375rem;
	/* 70/16 */
	background-color: #fff;
	position: relative;

}

.form__content {
	position: relative;
	top: 3.75rem;
	/* 60/16 */
	z-index: 6;
	background-color: #fff;
	padding: clamp(1rem, -0.3981rem + 6.9903vw, 5.5rem);
	/* 88/16 */
	border-radius: 0.9375rem;
	/* 15/16 */
	box-shadow: 0rem 3.6875rem 7.75rem 0rem rgba(0, 0, 0, 0.12);
	display: grid;
	grid-template-columns: clamp(20rem, 5.3629rem + 29.2742vw, 30.063rem) 1fr;
	/* 481/16 */
	column-gap: clamp(1rem, -6.9098rem + 15.8196vw, 6.438rem);
	/* 103/16 */
}

.form__adress {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2.1875rem;
	/* 35/16 */
}

.form__head h3 {
	color: #132238;
	font-size: 2.375rem;
	/* 38/16 */
	font-weight: 600;
	line-height: 1.31579;
	/* 116.667% */
	margin-block-end: 1rem;
	/* 24/16 */
}

.form__head p {
	color: #87909D;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
}

.form__contacts {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 0.75rem;
	/* 12/16 */
	max-width: 21rem;
	/* 336/16 */
}

.form__contact {
	border-radius: 0.625rem;
	/* 10/16 */
	display: grid;
	grid-template-columns: 3rem 1fr;
	/* 48/16 */
	column-gap: 0.8125rem;
	/* 13/16 */
	padding: 1.5rem;
	/* 24/16 */
	transition: background-color 0.3s, box-shadow 0.3s;
}

.form__icon {
	padding: 0.75rem;
	/* 12/16 */
	background-color: rgba(237, 216, 255, 0.50);
	border-radius: 0.25rem;
	/* 4/16 */
	transition: background-color 0.3s, fill 0.3s;
}

.form__text-title {
	color: #424E60;
	font-size: 0.875rem;
	/* 14/16 */
	line-height: 1.42857;
	/* 142.857% */
	font-style: normal;
	margin-block-end: 0.25rem;
	/* 4/16 */
}

.form__text-span {
	color: #132238;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	/* 150% */
}



.form__contact:hover .form__icon svg path {
	fill: #FFF;
}

.form__contact:hover .form__icon {
	background-color: #A53DFF;
}

.form__contact:hover {
	border-radius: 0.625rem;
	/* 10/16 */
	background: #FFF;
	box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
}


.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	/* 12/16 */
}

.card {
	padding: 0.9375rem;
	/* 15/16 */
	transition: background-color 0.3s, box-shadow 0.3s;
	border-radius: 0.25rem;
	/* 4/16 */
	max-height: 3rem;
	/* 48/16 */
}

.card a svg path {
	transition: fill 0.3s;
}

.card:hover {
	background-color: #A53DFF;
	box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
}

.card:hover a svg path {
	fill: #fff;
}

/* стили для формы */

.form__forms {
	padding-block-start: 1.625rem;
	/* 26/16 */
}

.form__forms p {
	color: #87909D;
	font-size: 1.125rem;
	/* 18/16 */
	line-height: 1.33333;
	/* 133.333% */
	margin-block-end: 3.125rem;
	/* 50/16 */
}


.fieldset-form {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1.5rem;
	/* 24/16 */

}

.sub {
	display: grid;
	grid-template-columns: clamp(5rem, -5.9091rem + 21.8182vw, 12.5rem) 1fr;
	/* 200/16 */
	column-gap: 1.5rem;
	/* 24/16 */
}

.sub__bud {
	flex-basis: 12.5rem;
	/* 200/16 */
}

.fieldset-form>input,
.fieldset-form>textarea,
.fieldset-form>div>input {
	padding-block-end: 0.875rem;
	/* 14/16 */
}


.fieldset-form>input,
.fieldset-form>textarea,
.fieldset-form>div>input {
	border-block-end: 1px solid #E6E8EB;


}

.fieldset-form>input:focus,
.fieldset-form>textarea:focus,
.fieldset-form>div>input:focus {
	border-block-end: 0.0938rem solid #A53DFF;
	/* 1.5/16 */
	outline: none;
	border-radius: 0rem;
}

.fieldset-form__message {
	margin-block-end: 3.125rem;
	/* 50/16 */
}

.button-light__but {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	justify-content: center;
}

.button-light__but::after {
	content: "";
	background: url("../img/paper-plsne.svg") center center / contain no-repeat;
	width: 1.5rem;
	aspect-ratio: 1;
}


/* адаптация для формы */

@media (max-width: 65.5rem) {

	/* 1048/16 */
	.sub {
		grid-template-columns: 1fr;

	}

	.sub__bud {
		margin-block-end: 1.5rem;
		/* 24/16 */
	}

}

@media (max-width: 50.625rem) {
	/* 810/16 */

	.form__content {
		grid-template-columns: 1fr;
		column-gap: 1.5rem;
		/* 24/16 */
	}

	.form__forms {
		padding-block-start: 3.125rem;
		/* 50/16 */
	}
}

/* footer */
footer {
	background-color: #2B384C;
	position: relative;
	z-index: 2;
}

.footer__container {
	padding-block-start: 10rem;
	/* 160/16 */
	background-color: #2B384C;
	padding-block-end: 5.375rem;
	/* 86/16 */
}

.footer__content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* column-gap: clamp(1rem, -6.1328rem + 20.7500vw, 11.375rem); 182/16 */
	align-items: center;

}

.nav__items {
	display: flex;

}


.nav__item {
	padding: 0.75rem;
	/* 12/16 */
}

.nav__item a {
	color: #F0F1F3;
	text-underline-offset: 0rem;
	/* 0/16 */
	text-decoration: underline 0.125rem rgba(255, 255, 255, 0);
	transition: text-decoration 0.3s, color 0.3s, text-underline-offset 0.3s;
}

.nav__item a:hover {
	color: #ffffff;
	text-decoration: underline 0.125rem #ffffff;
	text-underline-offset: 0.375rem;
	/* 6/16 */
}

.footer__copyright {
	display: flex;
	justify-content: end;
}

.footer__copyright p {
	color: #fff;

}


@media (max-width: 64.375rem) {
	.nav__items {
		flex-wrap: wrap;
		justify-content: center;
	}
}

/* 1030/16 */


@media(max-width: 42.3125rem) {
	.footer__content {
		grid-template-columns: 1fr;
		row-gap: 3rem;
		justify-items: center;
	}

	.footer__container {
		padding-block-start: 5rem;
		/* 80/16 */
	}
}

/* 677/16 */