@import "reset.css";

body {
    background-color: #28293E;
    color: #fff;
    
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1342px;
    /* 1270/16 */
    margin: 0 auto;
    padding: 15px;
    /* 15/16 */
}

