@import url("reset.css");
@import url("fonts.css");

body {
    background-color: rgb(61, 60, 60);
}



.wrapper {
    min-height: 100%;
    overflow: hidden;
    /*clip */
}


.header {
    margin: 0 auto;
    padding-inline: 25px;

}

.content__header {
    text-align: center;
    margin-top: 25px;
    background-color: burlywood;
    border-radius: 30px;
    margin-block-end: 30px;
}

.header__title {

    padding: 25px 25px 0px 25px;
    font-size: 36px;
    font-weight: 800;
    margin-block-end: 10px;
}

.header__subtitle {
    font-size: 25px;
    font-weight: 700;
    padding-block-end: 15px;
}


/* Зміст сторінки */
.listbox {
    padding-block-start: 20px;
    text-align: center;

}

.listbox__1 {
    padding-block-end: 20px;
    /*min-width: 400px;*/
    padding-inline: 20px;
    display: inline-block;
}

.listbox__title {
    text-align: left;
    /* padding-inline-start: 1050px; */
    background-color: rgb(189, 192, 11);
    padding-left: 20px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 25px;

}


.listbox__content a {
    padding: 20px;
    background: url("../img/glass.jpg") left top 15px / 32px no-repeat;
    padding-inline-start: 45px;
    padding-block-end: 30px;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.listbox__2 {
    display: inline-block;
    /* padding: 20px; */
}

.sublist__title {
    text-align: left;
    /* padding-inline-start: 1050px; */
    background-color: rgb(233, 161, 7);
    padding-left: 20px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 25px;
    /* line-height: 1.2; */
}


.sublist__content {
    padding: 20px;
    background: url("../img/leader.png") left top 15px / 32px no-repeat;
    padding-inline-start: 45px;
    padding-block-end: 30px;
}



/* Макет№1 */
.maket__content {
    background-color: #fff;
}

.maket-1 {
    padding-inline: 15px;
    padding-block-start: 20px;
}

.maket1__content {
    font-family: "DM Sans", sans-serif;
    max-width: 630px;
    margin: 0 auto;

}

.content__1,
.content__12 {
    margin-block-end: 54px;
}

.content__1 h3:first-of-type {
    color: #4A3AFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 110% */
}

.content__11__title {
    color: #1E1B39;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headings/H3 */
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    /* 128.571% */
}

.content__11__title::after {
    content: url("../img/glass.png");

}

.content__1 p:first-of-type {
    color: #6E6C83;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body/Default */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /* 175% */
}


.content__12 h3:first-child {
    color: #4A3AFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.content__12 {
    color: #1E1B39;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headings/H3 */
    font-family: "DM Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;

    /* 128.571% */
}

.content__12 p:first-of-type {
    color: #6E6C83;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body/Default */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

.content__12 h3:nth-child(2n)::after {
    content: url("../img/laptop.png");
}


.content__13 h3:first-child {
    color: #4A3AFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}


.content__13 {
    color: #1E1B39;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headings/H3 */
    font-family: "DM Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin-block-end: 50px;
}

.content__13 p:first-of-type {
    color: #6E6C83;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body/Default */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

.content__13 h3:nth-child(2n)::after {
    content: url("../img/rocket.png");
}




/* Макет№2 */
.maket2__content {
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
    padding-block: 106px;
    padding-inline: 15px;
}

.price__maket {
    max-width: 542px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 56px;
    background-color: #f0f0f6;
}

.block__title__maket {
    margin-bottom: 35px;
    padding: 44px;
    text-align: center;
    color: #fff;
    border-radius: 34px;
    background-color: #4a3aff;
}

.block__title__maket h3 {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
}

.block__title__maket:last-child {
    margin-bottom: 0;
}

.block__title__maket h3:nth-of-type(1n) {
    font-size: 30px;
    line-height: 1.066;
}

.block__title__maket h3:nth-of-type(2n) {
    font-size: 116px;
    line-height: 1.034;
    letter-spacing: -5px;
}

.block__title__maket h3:nth-of-type(3n) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.6);
}

.maket__list {
    margin-bottom: 32px;
    padding-inline: 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.357;

}

.maket__list li:not(:last-child) {
    margin-bottom: 26px;
}

.maket__list li::before {
    content: url("../img/checked.png");
    width: 36px;
    height: 36px;
    vertical-align: top;
    margin-right: 14px;

}


/* Макет№3 */

.maket__3 {
    padding-block-start: 25px;
    padding-inline: 15px;
    background-color: #FDF0E9;
    font-family: "Epilogue", sans-serif;
    margin: 0 auto;
}

.content3__title {
    margin-block-end: 74px;
    text-align: center;

}

.image__3 {
    max-width: 100%;

}

.content3__text {
    max-width: 570px;
    margin: 0 auto;
}

.content3__text h4:first-child {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
    max-width: 570px;
    margin: 0 auto;
    margin-block-end: 32px;
}

.content3__text p:nth-of-type(1n):not(.content__subtitle p) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    max-width: 570px;
    margin: 0 auto;
}

.content__paragraph31 {
    margin-block-end: 51px;
}

.content3__text h5:nth-of-type(1n) {
    color: #391400;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-block-end: 35px;

}

.content__paragraph32 {
    margin-block-end: 34px;
}


.list_content3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
    padding-block-end: 32px;
}

.list_content3 li::before {
    content: url("../img/oval.png");
    padding-inline-end: 16px;
}

.content__paragraph33 {
    margin-block-end: 65px;
}

.numer__list3 {
    color: #391400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.content__paragraph34 {
    margin-block-end: 28px;
}

.article__content>ol>li:first-of-type::before,
.article__content>ol>li::before {
    margin-inline-end: 5px;
}

.content3__text>ol>li:first-of-type::before {
    content: "1.";
}

.content3__text>ol>li:nth-of-type(2)::before {
    content: "2.";
}

.content3__text>ol>li:nth-of-type(3)::before {
    content: "3.";
}

.numer__list3 {
    padding-block-end: 32px;
}

.content__subtitle {
    background-color: #F9E5DA;
}

.content__paragraph35 {
    margin-block-end: 69px;
}

.___content {
    margin-block-end: 76px;
}

.content__subtitle_ {
    background: url("../img/shape.png") 32px 40px / 48px no-repeat, #F9E5DA;
    padding: 42px 32px 32px 112px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #391400;

    border-radius: 6px;

}


/* Game */
.game {
    background: url("../img/game-background.jpg");
}

.game__title {
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    color: #F0F0F6;
    padding-block-end: 25px;

}

.game__title h3,
.image__block {
    display: inline-block;
    vertical-align: middle;
    padding-block-end: 25px;
}

.image__block {
    max-width: 150px;
    padding-inline-start: 25px;
}


.game_game {
    max-width: 1000px;
    max-height: 900px;
    margin: 0 auto;

    background: url("../img/background-rick.jpg") center / cover;


}


.game__block:nth-child(2n+1):not(.game__block-13, .game__block-15, .game__block-5) {
    background: url("../img/arrow-down.png") center / contain no-repeat, radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
}

/* .game__block--6, .game__block--8, .game__block--10, .game__block--14 {
	background: url("../img/left-arrow.png") center / contain no-repeat;
} */
.game__block:nth-child(2n+4):not(.game__block-8, .game__block-14, .game__block-20) {
    background: url("../img/arrow-left.png") center / contain no-repeat, radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
}

/* .game__block--2, .game__block--4, .game__block--12 {
	background: url("../img/right-arrow.png") center / contain no-repeat;
} */
.game__block:nth-child(2n):not(.game__block-6, .game__block-8, .game__block-4, .game__block-12, .game__block-16, .game__block-20) {
    background: url("../img/arrow-right.png") center / contain no-repeat, radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
}


.game__block-1 {
    inline-size: 80px;
    block-size: 80px;
}

.game__block-2 {
    margin-inline-start: 80px;
    margin-block-start: -20px;
    inline-size: 800px;
    block-size: 20px;
}

.game__block-3 {
    margin-inline-start: 865px;
    inline-size: 15px;
    block-size: 55px;
}

.game__block-4 {

    margin-inline-start: 480px;
    inline-size: 400px;
    block-size: 34px;
}

.game__block-5 {
    background: url("../img/arrow-up.png") center / contain no-repeat, radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
    margin-block-start: -69px;
    margin-inline-start: 480px;
    inline-size: 32px;
    block-size: 35px;
}

.game__block-6 {
    margin-block-start: -35px;
    margin-inline-start: 160px;
    inline-size: 320px;
    block-size: 30px;
}

.game__block-7 {
    margin-inline-start: 160px;
    inline-size: 37px;
    block-size: 100px;
}

.game__block-8 {
    background: url("../img/arrow-right.png") center / contain no-repeat, radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
    margin-inline-start: 160px;
    inline-size: 530px;
    block-size: 40px;
}

.game__block-9 {
    background: url("../img/arrow_up.svg") center / contain no-repeat, radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
    margin-inline-start: 636px;
    inline-size: 54px;
    block-size: 200px;
}

.game__block-10 {
    margin-inline-start: 636px;
    inline-size: 130px;
    block-size: 52px;
}

.game__block-11 {
    margin-inline-start: 716px;
    inline-size: 50px;
    block-size: 100px;
}

.game__block-12 {
    margin-inline-start: 65px;
    inline-size: 700px;
    block-size: 38px;
}

.game__block-13 {
    background: url("../img/arrow-up.png") center / contain no-repeat, radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
    margin-inline-start: 65px;
    margin-block-start: -138px;
    inline-size: 47px;
    block-size: 100px;
}

.game__block-14 {
    margin-inline-start: 112px;
    margin-block-start: -100px;
    inline-size: 430px;
    block-size: 44px;
}

.game__block-15 {
    background: url("../img/arrow-up.png") center / contain no-repeat, radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
    margin-inline-start: 500px;
    margin-block-start: -264px;
    inline-size: 42px;
    block-size: 220px;
}

.game__block-16 {
    margin-inline-start: 50px;
    margin-block-start: -220px;
    inline-size: 450px;
    block-size: 50px;
}

.game__block-17 {
    margin-inline-start: 20px;
    margin-block-start: -50px;
    inline-size: 30px;
    block-size: 450px;
}

.game__block-18 {
    margin-inline-start: 50px;
    margin-block-start: -50px;
    inline-size: 455px;
    block-size: 50px;
}

.game__block-19 {
    margin-inline-start: 505px;
    margin-block-start: -50px;
    inline-size: 25px;
    block-size: 100px;
}

.game__block-20 {
    background: radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
    color: #0a0508;
    font-weight: 400;
    inline-size: 200px;

    block-size: 80px;
    line-height: 80px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin-inline-start: 420px;
    margin-block-start: -5px;
}

.game__block-20:hover {
    background: radial-gradient(circle, rgba(83, 236, 35, 1) 0%, rgba(217, 233, 148, 1) 100%);
    text-decoration: underline;
}


.game__block:not(:first-child) {
    visibility: hidden;
}

.game__block:hover+.game__block,
.game__block:hover {
    visibility: visible;
}


/* Practice */
.footer {
    background-color: #F0F0F6;

}

.practice {
    padding-block-end: 25px;
    padding-block-start: 25px;
    text-align: center;
}

.link__content *:not(h5) {
    text-align: center;
}

.link__content:target {
    background-color: cadetblue;
    border-radius: 50px;
    margin-inline: 50px;
}

.link__content h5 {
    text-align: left;
    padding-inline-start: 200px;
    font-size: 40px;
    font-weight: 800;
    padding-block-end: 25px;
    text-decoration: underline;
}

.practice div:not(:last-child) {
    margin-block-end: 20px;
}

.test__link {

    font-family: "Epilogue", sans-serif;
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding-block-start: 20px;
    min-width: 150px;
    margin-inline: 50px;
    background-color: #4A3AFF;
    text-align: center;
    padding-block-end: 25px;
}

.link-1 {
    transition: box-shadow .5s;
}

.link-1:hover {
    background-color: green;
    box-shadow: 16px 14px 8px 0px rgba(34, 60, 80, 0.2);

}

.link-2:active {
    text-decoration: underline;
}

.link-3:visited {
    background-color: #a2b1c4;
    color: #c1cfe2;
}

.link-4:focus-visible {
    outline: 5px dotted #0a0508;
}

.link-4:hover {
    outline: none;
}

.link-5:hover {
    box-shadow: 30px 31px 8px 0px rgba(83, 236, 35, 1);
}