/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
/* Підключення обнуляючого файлу */
@import url("reset.css");

/* Домашня робота */
body {
    font-family: "Epilogue", sans-serif;
    background: #28293E;
    color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class *="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}

/* --------------------- */

.header {}

.header__container {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding-block: 10px;
}

.header__logo {
    align-items: center;
}

.header__menu {
    flex-basis: 515px;
}

.menu {}

.menu__body {}



.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    line-height: 2;
}

.actions-header__button{
    flex-basis: 152px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 15px;
        position: relative;
        z-index: 5;

        
}


.actions-header__link:hover{
    background-color: #0056b3;
        transition: all 1s;
        transform: scale(1.1);
}




.actions-header__link {
    cursor: pointer;
        transition: all 1s;
    font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        padding: 17px 34px 16px 35px;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.30);
}

@media (any-hover: hover) {
    .menu__link:hover {
        color: #ffee00;
        transition: 0.5s;
        text-decoration: underline;
    }
}

.menu__link.active {
    color: #fff;
    background-color: #1a1a1a;
}

.header__actions {}

.actions-header {
    position: relative;
    z-index: 5;
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 40px;
    align-items: center;
    row-gap: 3px;
    justify-content: flex-end;
}

.actions-header__item {}

.actions-header__icon {}

.icon-menu {
    display: none;
}

@media (max-width: 1160px) {
    .header__container {
        min-height: 100px;
    }

    .menu__link {
        padding: 10px 18px;
        transition: all 15s;
    }
}

@media (max-width: 992px) {
    .header__container {
        min-height: 80px;
    }

    .icon-menu {
        flex-shrink: 0;
        flex-basis: 30px;
        display: flex;
        flex-direction: column;
    }

    .icon-menu span {
        margin-block: 6px;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        transition: all 0.3s;
        content: "";
        height: 2px;
        width: 100%;
        background-color: #fff;
    }

    .menu__body {
        position: fixed;
        inset-inline-start: 100%;
        inset-block-start: 0;
        inline-size: 100%;
        block-size: 100%;
        z-index: 2;

        transition: inset-inline-start 0.3s;

        overflow: auto;

        padding: 100px 15px 30px;

        background-color: #28293E;;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        block-size: 80px;
        inline-size: 100%;
        inset-inline-start: 100%;
        inset-block-start: 0;
        z-index: 3;
        background-color: #28293E;;
        transition: inset-inline-start 0.3s;
    }

    .menu__list {
        flex-direction: column;
        border: none;
        align-items: flex-end;
        background-color: transparent;
        row-gap: 25px;
    }

    .menu__link {
        font-size: 24px;
        padding: 0;
    }

    .menu__link.active {
        text-decoration: underline;
        background-color: transparent;
    }

    .open-menu .menu__body,
    .open-menu .menu__body::before {
        inset-inline-start: 0;
    }

    .open-menu .icon-menu span {
        width: 0;
        height: 0;
        margin: 0;
    }

    .open-menu .icon-menu::before {
        transform: rotate(45deg) translateY(1.5px);
    }

    .open-menu .icon-menu::after {
        transform: rotate(-45deg) translateY(-1.5px);
    }
}

@media (max-width: 500px) {
    .header__container {
        min-height: 70px;
    }

    .actions-header {
        column-gap: 20px;
    }

    .header__logo {
        flex-basis: auto;
        width: 140px;
    }
}

@media (min-width: 1160px) {
    .actions-header {
        flex-basis: 200px;
    }
}